<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Belt Reviewer</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "users/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "users/skeleton.css" %}"/>
  <link rel="stylesheet" href="{% static "users/styles.css" %}"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h2>Register</h2>
        {% if messages %}
        <ul>
        {% for message in messages %}
          <li{% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <form id="registration-form" action="{% url 'users:create' %}" method="POST">
          {% csrf_token %}
          {{registration_form}}
          <button type="submit" class="button-primary">Register</button>
        </form>
      </div>
      <div class="six columns">
        <h2>Login</h2>
        <form id="login-form" action="" method="POST">
          {% csrf_token %}
          {{login_form}}
          <button type="submit" class="button-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>