<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Belt Reviewer</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "books/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "books/skeleton.css" %}"/>
  <link rel="stylesheet" href="{% static "books/styles.css" %}"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <p><strong>Welcome, {{request.session.user_alias}}</strong></p>
      </div>
      <div class="three columns">
        <a href="">Add Book and Review</a>
        <a href="{% url 'users:logout' %}">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="seven columns">
        <h2>Recent Book Reviews</h2>
        <div id="book-reviews">
          {% for review in reviews %}
          <div class="review">
            <h3 class="review-book"><a href="">{{review.book.title}}</a></h3>
            <p class="review-rating">Rating: {{review.rating}}</p>
            <p class="review-text"><a href="">{{review.user.alias}} says: {{review.text}}</a></p>
            <p class="review-date">{{review.updated_at}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="five columns">
        <h2>Books with Reviews</h2>
        <div id="books">
          {% for book in books %}
          <a href="">{{book.title}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>