<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Belt Reviewer</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "books/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "books/skeleton.css" %}"/>
  <link rel="stylesheet" href="{% static "books/styles.css" %}"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <p><strong>Welcome, {{request.session.user_alias}}</strong></p>
      </div>
      <div class="three columns">
        <a href="">Add Book and Review</a>
        <a href="{% url 'users:logout' %}">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="seven columns">
        <h2>Recent Book Reviews</h2>
      </div>
      <div class="five columns">
        <h2>Books with Reviews</h2>
      </div>
    </div>
  </div>
</body>
</html>